.App {
  background-color: white;
}

header {
  padding-top: 2%;
}

.glow {
  width: 40%;
  height: 88px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  color: pink;
  font: 60px 'Poiret One', cursive;
  box-shadow: inset 0px 0px 10px #ffbbbb, 0px 0px 10px #ff0000;
  text-shadow: 0px 0px 10px #ff0000, 2px 2px 4px #000;
  border: 2px solid pink;
  border-radius: 15px;
}

