.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
}

.post {
    margin-bottom: 4px;
}

ul {
    list-style-type: none;
    padding-left: 5%;
    margin-top: 0px;
    margin-bottom: 8px;
}

.link {
    color: #0060B6;
    text-decoration: none;
}

.link:hover 
{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}

.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position: relative;
    margin: 0px 10px 10px 0px;
    float: left;
	border-radius: 8px;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    font-weight: 700;
	color: #FFF;
	text-decoration: none;	
}

.blue
{
    padding: 6px 38px 6px 38px;
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.red
{
    padding: 6px 35px 6px 35px;
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

.action-button:active
{
	transform: translate(0px,4px);
  -webkit-transform: translate(0px,4px);
	border-bottom: 1px solid;
}

@media (max-width: 768px) {
    .container {
        margin-top: 5%;
    }

    .red {
        margin-left: 12px;
        margin-right: 0px;
        padding: 6px 35px 6px 35px;
    }

    .blue {
        margin-right: 12px;
        padding: 6px 37px 6px 37px;
    }

    .action-button {
        position: relative;
        float: left;
        border-radius: 8px;
        font-family: 'Pacifico', cursive;
        font-size: 20px;
        font-weight: 600;
        color: #FFF;
        text-decoration: none;	
    }
}